p{
    color: aqua;
    background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    width: 50%;
}
img{
    width: 50%;
}
h3{
    align-items: 50%;
}
.tips{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cyan;
    background-color: darkgoldenrod;
    font-size: 50px;
    width: 50%;
}
.banner{
    background-color: darkkhaki;
    color: darkred;

}
#bigline{
    font-size: small;
    color: brown;
    background-color: cyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 70px;
   width: 50%;
}
.tips{
    border: 5% 5% 5% 5%;
    padding: 6% 6% 6% 6%;
}
.ink{

background-image: linear-gradient(#FF2F97,#FF2F97);
background-repeat: no-repeat;
background-size: 0% 100%;
background-position-x: right;

transition: background-size 500ms;


}
.ink:hover{
    background-size: 100% 100%;
    background-position-x: left;

}